@use '/src/styles/colors';
@use '/src/styles/variables';

#homePage {

    #infoPanel {
        display: flex;

        img {
            width: 100%;
            max-width: variables.$rk-max-image-size;
            max-height: variables.$rk-max-image-size;
            border-radius: 50%;
            margin-right: 40px;
        }

        #profileTitle {
            color: colors.$rk-secondary;
        }

        #profileLink {
            color: colors.$rk-link;
        }
    }
}